.container {
  height: 100vh;
  width: 300px;
  margin: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.list-item {
  border-bottom: 1px solid gray;
  width: 80%;
  margin: auto;
  text-align: center;
  padding: 10px 0px;
}

.list-item:hover {
  cursor: pointer;
}
input[type="text"] {
  width: 80%;
  height: 30px;
  outline: none;
}
.radio {
  margin-bottom: 20px;
}
.radio > input {
  margin-right: 25px;
}

.radio > input:checked {
  border: 6px solid black;
}
